<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.creative-tim.com">Creative Tim</a></li>
                    <li><a href="http://blog.creative-tim.com">Blog</a></li>
                    <li><a href="https://www.creative-tim.com/license">Licenses</a></li>
                </ul>
            </nav> -->
            <div class="credits ml-auto text-right" style="line-height: 25px !important">
                <span class="copyright" style="padding:0">
                     For business queries call :<br><i class="fa fa-phone phone"></i> +91 8860660028, <i class="fa fa-phone phone"></i> +91 9999883332
                </span>
            </div>
        </div>
    </div>
</footer>